@font-face {
  font-family: "Zen Maru Gothic";
  src: local("Zen Maru Gothic"),
    url(assets\fonts\ZenMaruGothic-Regular.ttf) format("truetype");
}

*,
body,
html {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter";
  background-color: #16151a;
  color: white;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  z-index: 99;
}

/* Track */
::-webkit-scrollbar-track {
  background: #1a1a19;
  z-index: 99;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #707179;
  border-radius: 4px;
  z-index: 99;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #707179;
  border-radius: 4px;
}
